<html lang="en">
	<head>
		{{>headerlinks}}
	</head>
	<body>
		<!-- Navbar code -->
		{{>navbar}}
		<!-- Main body code -->
		<section class="container-fluid main-container">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div class="row">
						<!-- Left side div -->
						<div class="col-md-6 main-container__left">
							<h1>Welcome to <span class="key-text">BoundryXWeather</span></h1>
							<p>
								Hi, This is me
								<span class="key-text">Birajan.</span>
								I'm a student and learing web development...
							</p>
							<a href="#"><button>About Me</button></a>
						</div>
						<!-- Right side div -->
						<div class="col-md-6 main-container__right">
							<img src="images/about.png" alt="about" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- footer code -->
		{{>footer}}
	</body>
</html>